.cell {
  padding: 4px 5px;
}
.toolimg img {
  width: 100%;
  display:block;
  margin:auto;
  border: none;
}
.logo {
  width: 60px;
  float: left;
}
nav {
  height: 60px;
}
nav h1 {
  line-height: 45px;;
}
.alert {
  background-color: #fff;
}
